/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.rootClass {
  background-color: rgb(246 248 250);
}

.header {
  background-color: #24292f;
}

.navbar-text-custom {
  color: #fff !important;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.movieImage {
  height: 275px;
}

.movie-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.my-card {
  width: 12rem;
}

.img-div {
  text-align: center;
}

.create-button {
  align-self: center;
  text-align: right;
}

.paginator {
  padding: 0 23px 15px 23px;
}

.alert-custom {
  position: fixed;
  right: 18px;
  width: 142px;
  text-align: center;
}